@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --white-text: rgb(242, 246, 253);
}

body {
  background-color: rgb(32, 41, 54);
  height: 100vh;
  width: 95vw;
  float: left;
  margin: 0; /* get rid of default margin and allow 100vh height without scrolling */
}

form {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr; /* creates 2 columns */
  gap: 15px; /* creates a gap between the columns and rows */
  background-color: rgb(213, 133, 12);
  box-shadow: 0px 2px 10px -3px rgba(32, 30, 31, 0.55);
  padding: 30px 0 30px 0;
  border-radius: 10px;
}

label {
  font-family: "DM Sans", sans-serif;
  font-size: smaller;
}

h2,
h3,
p {
  font-family: "DM Sans", sans-serif;
}

h2 {
  color: var(--white-text);
  margin: 0 0 40px 30px;
}

p {
  font-size: smaller;
  margin: 10px 0 0 30px;
  color: var(--white-text);
}

form > h3,
form > div > * {
  margin: 0 0 0 30px;
}

input {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 3px;
}

input:focus {
  outline: none; /* get rid of default border color */
  border: 2px solid rgba(76, 166, 212, 1);
  box-shadow: 0px 2px 5px -3px rgba(32, 30, 31, 0.55);
}

a {
  color: rgb(116, 200, 101);
}

.row {
  display: flex;
}

.left {
  height: 100vh;
  width: 40%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("night_sky.jpg"); /* Photo by Diego PH, https://unsplash.com/photos/5LOhydOtTKU */
  background-size: cover;
}

.right {
  width: 60%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 1rem;
}

.logo {
  display: flex;
  height: 5rem;
  gap: 15px;
  background-color: rgba(36, 32, 34, 0.65); /* rgba can set opacity */
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0 10px 0 0;
}

#logo_text {
  font-family: "Quicksand", sans-serif;
  color: var(--white-text);
}

#wilson_logo {
  width: 4rem;
  height: 4rem;
}

#submit {
  background-color: #5e9b29;
  font-family: "DM Sans", sans-serif;
  color: var(--white-text);
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
  margin: 15px 0 0 30px;
  width: 10rem;
}

#submit:hover {
  background-color: #709c4a;
}

#message {
  display: block;
  width: 100%;
  font-family: "DM Sans", sans-serif !important;
  font-size: smaller;
  color: rgb(201, 39, 39);
  margin: 0 0 0 30px;
}
